{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <div class="hero-content">

        <h1>Online Quiz Platform</h1>

        <p>Test your skills. Track your progress. Compete with others.</p>

        <a href="/login/" class="hero-btn">
            Start Quiz Now
        </a>

    </div>

</div>

<!-- FEATURES -->

<div class="features">

    <div class="feature-card">
        <h2>📚 MCQ Quizzes</h2>
        <p>Practice multiple choice questions with instant scoring.</p>
    </div>

    <div class="feature-card">
        <h2>⏱ Timed Tests</h2>
        <p>Improve speed with real-time timed assessments.</p>
    </div>

    <div class="feature-card">
        <h2>🏆 Leaderboard</h2>
        <p>Compete with others and track your ranking.</p>
    </div>

</div>

{% endblock %}